//colors

$lighter-grey: #f0f0f2;
$light-gray: #bbbabc;
$grey: #817f86;
$dark-grey: #413d4b;


$cyan: #00e0d0;
$dark-cyan: #46a6cc;

$purple: #503f76;
$dark-purple: #2f1c5c;

$dark-navy: #09052f;


//fonts
// font-family: 'Hammersmith One', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;